@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 0;
    margin-bottom: 40px;
}

header h1 {
    text-align: center;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 2.5rem
}

header p {
    text-align: center;
}

header span {
    background-color: black;
    color: white;
    padding: 5px
}

main {
    display: flex;
}

.aside {
    background-color: white;
    margin: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
}

.section {
    box-sizing: border-box;
    flex-basis: 70%;
    margin: 15px;
    margin-bottom: 40px;
    line-height: 1.5;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

section img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

aside img {
    width: 30vw;
}

.data,
#header_end {
    padding: 15px;
    padding-top: 0px;
}

.data span {
    opacity: 0.6;
}

#read {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-weight: 700;
}

#header_end #comment {
    margin-top: 10px;
    float: right;
    font-weight: 700;
}

.class {
    clear: both;
}

#header_end #comment span {
    color: white;
    background-color: black;
    padding: 0px 5px;
    font-weight: normal;
    margin-left: 5px;
}

#aside_1 .data p {
    line-height: 1.5;
}

#aside_2 h2,
#aside_3 h2 {
    padding: 20px 15px;
    background-color: #f1f1f1;
    opacity: 1;
}

#aside_2 h2 {
    margin-bottom: 0px;
}

#aside_2 #part {
    padding: 15px;
    border-top: 2px solid #f1f1f1;
}

#aside_2 img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#aside_2 .data {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

#aside_2 .data h3 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    font-weight: normal;
}

#aside_2 .data p {
    margin: 0px;
    padding: 0px;
}

#aside_3 ul {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 0px;
    margin-bottom: 20px;
}

#aside_3 li {
    list-style: none;
    padding: 4px 8px;
    margin: 10px 2px;
}

#aside_3 .unactive {
    background-color: #f1f1f1;
    color: black;
    font-size: 12px;
}

#aside_3 .active {
    background-color: black;
    color: #fff;
    font-size: 14px;
}

footer {
    background-color: #616161;
    color: white;
    height: 150px;
    line-height: 150px;
}

footer p {
    text-align: center;
    margin: 0px;
}

/*@media(max-width: 768px) {
    .section {
        flex-basis: 100%;
    }
}
*/
